.Console {
    text-align: left;
    background-color: white;
    display:flex;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    justify-content: center;
    place-items: center;
    padding: 1% 0%;
    height:33%;
    position: relative;
    max-width: 1000px;
}

.ButtonHolder {
    flex-direction: column;
    display: flex;
    justify-content: top;
    place-items: center;
    height:100%;
    width: 25%;
}

.Terminal {
    margin-left:5px;
    height:100%;
    font-family: monospace;
    width: 75%;
    color: rgb(80, 176, 80);
    border-radius: 10px;
    background-color: rgb(28, 30, 29);
    margin-right: 5px;
    overflow-y: auto;
}

/*
// Hide scrollbar for Chrome, Safari and Opera
.Terminal::-webkit-scrollbar {
    display: none;
}
  
// Hide scrollbar for IE, Edge and Firefox
.Terminal {
-ms-overflow-style: none;  //IE and Edge
scrollbar-width: none;  // Firefox
}
*/

.Terminal div {
    margin: 10px;
}